.overflove-hidden {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.subtitle {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #212121;
}
.subtitle_mb14 {
  margin-bottom: 14px;
}

.line {
  margin: 0;
  height: 1px;
  border: none;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.15);
}
.line_mb4 {
  margin-bottom: 4px;
}
.line_mb18 {
  margin-bottom: 18px;
}
.line_mb24 {
  margin-bottom: 24px;
}

.header {
  background: #673AB7;
}
.header__wrapper {
  padding: 12px 16px 5px 16px;
  display: flex;
  justify-content: flex-start;
}
.header__logo {
  margin: auto 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.06;
  letter-spacing: 0;
  color: #FFFFFF;
}
.header__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.18px;
  color: #FFFFFF;
  text-align: center;
}
.header__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}
.header__link {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.18px;
  color: #C1C1C1;
  text-decoration: none;
}
.header__link:hover {
  color: #FFFFFF;
}
.header__arrow {
  margin-right: 24px;
}
.header__burger-menu {
  display: none;
  width: 35px;
  height: 32px;
}
.header__burger-line {
  width: 26px;
  height: 2.67px;
  background: white;
  margin-right: 10px;
}
.header__line-first {
  margin-top: 8px;
}
.header__line-thurd {
  margin-bottom: 8.5px;
}

.cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  column-gap: 102px;
  row-gap: 48px;
  padding: 36px 56px 30px 56px;
}
.cards__card {
  max-width: 236px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card__title {
  padding: 4px 16px;
  background: #673AB7;
  opacity: 0.5;
  border-radius: 4px 4px 0px 0px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}
.card__foto {
  width: 100%;
}
.card__description {
  padding: 8px 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #000000;
}
.card__groups {
  padding: 6px 0 8px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #000000;
}
.card__groups__pers {
  position: relative;
  padding: 5px 16px 0 48px;
  margin-bottom: 8px;
}
.card__groups__pers::before {
  content: url(./assets/svg/icon_groups.svg);
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  left: 16px;
}
.card__groups__admin {
  position: relative;
  padding: 5px 16px 0 48px;
}
.card__groups__admin::before {
  content: url(./assets/svg/icon_psychology.svg);
  position: absolute;
  top: 4px;
  bottom: 0;
  margin: auto;
  left: 16px;
}
.card__btn-wrapper {
  padding: 16px 0;
}
.card__btn {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 10px 61px;
  background: #673AB7;
  border: none;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.25px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.card__btn:hover {
  background: #592fa4;
}

.profile__wrapper {
  padding: 24px 16px;
}
.profile__personal-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 16px;
}
.profile__avatar {
  border-radius: 4px;
  padding: 83px;
  background: #E3D0FF;
}
.profile__pers-data {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.18px;
  color: #212121;
}
.profile__type {
  margin-bottom: 16px;
}
.profile__type-wrapper {
  display: flex;
  gap: 16px;
}
.profile__type-wrapper_wrap {
  flex-wrap: wrap;
  max-width: 95%;
}
.profile__type-wrapper_mb24 {
  margin-bottom: 24px;
}
.profile__tag {
  position: relative;
  padding: 6px 28px 6px 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
}
.profile__tag::after {
  content: "";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: auto;
  right: 5px;
  color: white;
  border-radius: 50%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 0.89;
  letter-spacing: 0.25px;
}
.profile__tag_green {
  background: #E1FFC8;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}
.profile__tag_green::after {
  content: "I";
  background: #4CAF50;
}
.profile__tag_orange {
  background: #FFEED3;
  border: 1px solid #F9A825;
  color: #F9A825;
}
.profile__tag_orange::after {
  content: "S";
  background: #F9A825;
}
.profile__tag_blue {
  background: #CDE6FF;
  border: 1px solid #1976D2;
  color: #1976D2;
}
.profile__tag_blue::after {
  content: "B";
  background: #1976D2;
}
.profile__tag_red {
  background: #FFDCDA;
  border: 1px solid #F44336;
  color: #F44336;
}
.profile__tag_red::after {
  content: "E";
  background: #F44336;
}
.profile__tag_purple {
  padding: 6px 16px 6px 16px;
  background: #E3D0FF;
  color: #673AB7;
}
.profile__text {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #212121;
}

.rooms__wrapper {
  padding: 24px 16px 16px 16px;
}
.rooms__personal-wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}
.rooms__avatar {
  border-radius: 4px;
  padding: 83px;
  background: #E3D0FF;
}
.rooms__groups {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rooms__name {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.18px;
  color: #212121;
}
.rooms__btn {
  cursor: pointer;
  display: block;
  padding: 10px 48px 10px 16px;
  width: 228px;
  position: relative;
  margin-bottom: 16px;
  background: #673AB7;
  border: 0;
  border-radius: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.25px;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
.rooms__btn::after {
  content: "";
  position: absolute;
  right: 20px;
  margin: 0 auto;
}
.rooms__btn_group::after {
  content: url(./assets/svg/icon_groups-white.svg);
  right: 31px;
}
.rooms__btn_admins::after {
  content: url(./assets/svg/icon_psychology-white.svg);
}
.rooms__link {
  text-decoration: none;
}
.rooms__type-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.15px;
  color: #000000;
}
.rooms__type-name {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #212121;
}
.rooms__type-scale {
  width: 100%;
  height: 24px;
  margin-bottom: 16px;
}
.rooms__type-scale_green-first {
  background: linear-gradient(90deg, rgb(76, 175, 80) 51%, rgb(225, 255, 200) 51%);
}
.rooms__type-scale_green-second {
  background: linear-gradient(90deg, rgb(76, 175, 80) 40%, rgb(225, 255, 200) 40%);
}
.rooms__type-scale_blue-first {
  background: linear-gradient(90deg, rgb(25, 118, 210) 16%, rgb(205, 230, 255) 16%);
}
.rooms__type-scale_blue-second {
  background: linear-gradient(90deg, rgb(25, 118, 210) 49%, rgb(205, 230, 255) 49%);
}
.rooms__type-scale_orange-first {
  background: linear-gradient(90deg, rgb(249, 168, 37) 15%, rgb(255, 238, 211) 15%);
}
.rooms__type-scale_orange-second {
  background: linear-gradient(90deg, rgb(249, 168, 37) 15%, rgb(255, 238, 211) 15%);
}
.rooms__type-scale_red-first {
  background: linear-gradient(90deg, rgb(244, 67, 54) 64%, rgb(255, 220, 218) 64%);
}
.rooms__type-scale_red-second {
  background: linear-gradient(90deg, rgb(244, 67, 54) 26%, rgb(255, 220, 218) 26%);
}
.rooms__type-scale_purple_first {
  background: linear-gradient(90deg, rgb(103, 58, 183) 40%, rgb(227, 208, 255) 40%);
}
.rooms__type-scale_purple_second {
  background: linear-gradient(90deg, rgb(103, 58, 183) 49%, rgb(227, 208, 255) 49%);
}
.rooms__type-scale_purple_third {
  background: linear-gradient(90deg, rgb(103, 58, 183) 14%, rgb(227, 208, 255) 14%);
}

.users {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.users__wrapper {
  padding: 24px 16px 16px 16px;
}
.users__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.users__form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.users__row {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}
.users__row_mb8 {
  margin-bottom: 4px;
}
.users__row_mb10 {
  margin-bottom: 10px;
}
.users__label {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #212121;
}
.users__label_user {
  margin-bottom: 8px;
}
.users__input {
  height: 32px;
  padding-left: 16px;
  border: 1px solid #9F9F9F;
  border-radius: 4px;
}
.users__input::placeholder {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #9F9F9F;
}
.users__input_push {
  margin-bottom: 22px;
}
.users__input_user {
  height: 32px;
  margin-bottom: 15px;
}
.users__button {
  cursor: pointer;
  padding: 10px 16px;
  background: #673AB7;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.25px;
  color: #FFFFFF;
  text-transform: capitalize;
}
.users__avatar {
  margin-right: 16px;
}
.users__username {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.15px;
  color: #212121;
}

.autorization {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  max-width: 484px;
  margin: 0 auto;
  padding: 0 16px;
  transform: translateY(77%);
}
.autorization__button {
  width: 89px;
  margin-left: auto;
}

.control {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 26px;
  cursor: pointer;
  letter-spacing: 0.15px;
}
.control_all {
  align-self: self-end;
  top: 10px;
  right: 34px;
  margin: 0;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control input:checked ~ .control-indicator {
  background: #673AB7;
}
.control input:checked ~ .control-indicator:after {
  display: block;
}
.control input:disabled ~ .control-indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background: #e6e6e6;
}
.control-indicator_all {
  top: -4px;
  left: 148px;
}
.control-indicator:after {
  content: "";
  position: absolute;
  display: none;
}

.control:hover input ~ .control-indicator {
  background: #d3d0d0;
}

.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
  background: #562da1;
}

.control-checkbox .control-indicator:after {
  left: 6px;
  top: 0;
  width: 8px;
  height: 14px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 820px) {
  .header__link {
    font-size: 20px;
  }
  .users__form-wrapper {
    flex-direction: column;
  }
  .control_all {
    right: 24px;
  }
}
@media screen and (max-width: 660px) {
  .header__wrapper {
    justify-content: center;
  }
  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .users__form-wrapper {
    flex-direction: column;
    gap: 8px;
  }
  .users__row-column {
    gap: 16px;
  }
  .users__input_user {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }
  .users__input_user {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }
  .users__button {
    align-self: flex-end;
  }
  .users__checkbox-all {
    align-self: flex-end;
  }
}
@media screen and (max-width: 540px) {
  .rooms__personal-wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }
  .rooms__groups {
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .header__menu-background_active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0;
    background: rgba(154, 154, 154, 0.5);
    z-index: 5;
    transition: 0.3s all linear;
  }
  .header__wrapper {
    justify-content: start;
    position: relative;
  }
  .header__wrapper_small {
    justify-content: flex-start;
  }
  .header__logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.15px;
  }
  .header__burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 6px;
  }
  .header__menu {
    width: 100%;
    height: 124px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #673AB7;
    z-index: 10;
    transform: translateY(-150%);
    transition: 0.2s all linear;
  }
  .header__menu-active {
    transform: translateY(27%);
  }
  .header__list {
    padding: 0;
    gap: 4px;
    flex-direction: column;
    align-items: center;
  }
  .header__menu-close {
    display: none;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .header__menu-close-line {
    display: block;
    width: 24px;
    height: 1.5px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 58%;
    left: 4.5%;
  }
  .header__menu-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }
  .header__menu-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
  .header__item:nth-child(4) {
    margin-bottom: 16px;
  }
  .header__link {
    gap: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
  }
  .header__arrow {
    margin-right: 18px;
    width: 24px;
    height: 24px;
  }
  .header__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.15px;
  }
  .profile__avatar {
    margin: 0 auto;
  }
  .profile__name {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
  }
  .profile__type {
    font-weight: 400;
    font-size: 16px;
  }
  .profile__text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.25px;
  }
  .rooms__name {
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
  }
  .rooms__type-title {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  .rooms__type-name {
    margin-top: 0;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.4px;
  }
  .rooms__type-scale {
    height: 8px;
    margin-bottom: 8px;
  }
  .line_mb24 {
    display: none;
  }
  .line_mb18 {
    margin-top: 17px;
  }
  .users__input {
    height: 36px;
    padding-left: 4px;
    box-sizing: border-box;
  }
  .users__username {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.1px;
  }
  .users__row {
    gap: 8px;
  }
  .users__row-column {
    gap: 16px;
  }
  .users__avatar {
    margin-right: 0;
  }
  .control_all {
    top: 3px;
    right: 34px;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  .control-indicator {
    height: 18px;
    width: 18px;
  }
  .control-indicator_all {
    top: -1px;
    right: 0;
    left: 128px;
  }
  .control-checkbox .control-indicator:after {
    top: 1px;
    width: 4px;
    height: 10px;
    border-width: 0 2px 2px 0;
  }
  .subtitle__mobile {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.1px;
    color: #212121;
  }
}

/*# sourceMappingURL=styles.css.map */
